<h1>Hello my name is Nietzsche</h1>
<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Trellodo</h1>
  <p>This is my smart To Do list app, made w/ RoR</p>
  <%=link_to 'Sign up', '#', class: 'btn btn-primary btn-lg' %>
</div>
<%= render "text" %>
<p>find /opt/kafka_2.11-0.9.0.1/logs -name "server.log.*" -mtime 2 | xargs cat | grep -c ERROR</p>
