<nav class="navbar navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <a class="navbar-brand" href="#">Trellodo</a>
    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    <form class="form-inline pull-xs-right">
      <a class="nav-item nav-link" href="#">About</a>
    </form>
  </div>
</nav>
